<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Movie App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Movie App</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <ion-list>
      <li *ngFor="let x of movieData">

        <ion-card>
          <ion-card-header>
            <ion-card-title>{{x.Title}}</ion-card-title>
            <ion-card-subtitle>{{x.Year}}</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            <img src={{x.Poster}}>
          </ion-card-content>
        </ion-card>

      </li>
    </ion-list>
  </div>
</ion-content>
